 
h1{
    font-family: 'Ubuntu', sans-serif;
    color:#ffffff;
}
body{
  background-color:   #607D8B;
  margin-bottom: 150px;
  font-size: 16px; }

   

a{
text-decoration: none;
font-family: 'Ubuntu', sans-serif;
}
nav{
    background-color: rgb(20, 20, 13);
    
}
#lista{
    background-color: rgb(186, 240, 125)
    
}
/* menu deslizante */
.sidenav {

    
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #cccccc;
    display: block;
    transition: 0.3s;
}


.sidenav a:hover {
    color: #ffe601;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


#main {
    transition: margin-left .5s;
    padding: 20px;
}








html {
    position: relative;
    min-height: 100%;
  }
  
  
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: #111;
    text-align: center;
    clear: both;
    margin-top: 0px;
    padding-top: 0px;
    overflow: visible;
  }
  
  .container{
    margin-top: 50px;
    color: #fff;
    width: 100%;
  }
  
  .fa-twitter {
      color: #4099FF;
  }
  
  .fa-facebook {
      color: #3B5998;
  }
  
  .fa-youtube-play {
      color: #e52d27;
  }
  
  .fa-rss {
      color: #FF6600;
  }
  
  .fa-vine {
      color: #00a478;
  }
  
  .fa-flickr {
      color: #ff0084;
  }
  
  .fa-twitch {
      color: #6441A5;
  }
  
  .fa-linkedin {
      color: #007bb6;
  }
  
  .fa {
      opacity: 0.7;
      transition: 1s;
      -webkit-transition: 1s;
  }
  
  .fa:hover{
      opacity: 1;
      transition: 1s;
      -webkit-transition: 1s;
  }
  .formularios{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
  #caja-formu{
    
    border-style:solid;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    height: 357px;
    overflow: hidden;
    
    border-color:rgb(0, 0, 0);
    position: inherit;
    width: 42%;
    min-width: 30%;
    margin-top: 3%;
    
    background-color: #00a478;
    
    

  }
  html {
    position: relative;
    min-height: 100%;
  }
  
 /* estilos del banner*/
 #baner{
    color: white;
    background-color: #002e3b;
    min-height: 100px;
    padding: 22px;
    font-size: 70%;
    text-align: center;
    font-family: 'Marvel', sans-serif;
 }
 


.menu{
    float: left;
}
/* boton ir arriba */


.back-to-top:hover {    
    background-color: rgba(135, 135, 135, 0.50);
}
.ir-arriba {
    display:none;
    padding:30px;
    background-repeat: no-repeat;
    font-size:20px;
    color:#FF6600;
    cursor:pointer;
    position: fixed;
    bottom:20px;
    right:20px;
    z-index: 2;
}

h1{
font-size:150%;
}
p{
  font-size: 120%;
    text-align: center;
    font-family: 'Marvel', sans-serif;
    color: white;
    text-align: center;
    justify-content: center;
}